
<div class="row">

<% if(posts.length > 0) { %> <% for(let post of posts) { %>
<div class="col-3">
<div class="card m-1 hoverable">

    <!-- Card image -->
    <img class="card-img-top" src="http://localhost:3000/uploads/thumbnails/<%= post.thumbnail %>" alt="Card image cap">
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a><%= post.title %></a></h4>
      <!-- Text -->
      <p class="card-text"><%-truncate(post.body,100) %></p>
      <!-- Button -->
      <a href="/post/<%= post._id %>" class="btn btn-primary">بیشتر ...</a>
  
    </div>
    <div class="card-footer text-muted text-small">
        ارسال شده در تاریخ : <%=formatDate(post.createdAt) %>
     </div>
  </div>
</div>
  <!-- Card -->
<% } %> <% } else {%>
<div class="m-5 text-center">
    <h1>هیچ پستی در پایگاه داده نیست</h1>
</div>
<% } %>
</div>