    <!-- ======= Hero Section ======= -->
    <%- include("./index/1-Hero.ejs") %>
    <!-- End Hero -->

    <main id="main">
    <!-- ======= Why Us Section ======= -->
    <%- include("./index/2-whyus.ejs") %>
    <!-- End Why Us Section -->

   <!-- ======= About Section ======= -->
    <%- include("./index/3-About.ejs") %>
    <!-- End About Section -->

    <br/>
    <br/>

    <!-- ======= Services Section ======= -->
    <%- include("./index/4-services.ejs") %>
    <!-- End Services Section -->

    <!-- ======= Values Section ======= -->
    <%- include("./index/5-value-section.ejs") %>
    <!-- End Values Section -->

    <!-- ======= Testimonials Section ======= -->
    <%- include("./index/6-testmonial.ejs") %>
    <!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <%- include("./index/7-team.ejs") %>
    <!-- End Team Section -->
<br/>
<br/>
    <!-- ======= Pricing Section ======= -->

    <!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
   <%- include("./index/9-faq.ejs") %>
    <!-- End F.A.Q Section -->

<%- include("./footer.ejs") %>

  </main><!-- E